body
{
    background-color: #fff;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    
}




        .procurado{

            background-color:#9155F2;
            width: 20%;
            padding: 2% 1%;
            text-align: center;
            border-radius: 10px;
            justify-content: space-between;
            margin: 25px;
        }

        .container-produtos{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #e1e1e1;
            border-radius: 10PX;
            margin: 25PX;

        }

        .foto   
        {
            width: 200px;
            height: 200px;
            padding: 2% 1%;
            justify-content: space-around;
            border: 0;
            border-radius: 12px;
        }
 
        #pro
    
        {
            padding: 2% 1%;
            background-color:#ffffff;
            font-size: 20px;
            width: 200px;
            text-align: center;
            border-radius: 10px;
            border: 0;
            
        }

        .mp{


            background-color:#ffffff;
            text-align: center;
            border: 10px;
    
        }
        .shop H4 {

            background-color: #5E17EB8F;
            border: 0;
            border-radius: 10px;
            color:#000000;
           
    
        }

        .shop{  

            font-size: 25px;
        }



header
{
    background-color:#5E17EB;
    display: flex;
    color: #f1f1f1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}



      
  .btn-text-top {
    display: none;
    background-color: #f5f6fa;
    border: 0;
    padding: 05px 90px 05px 15px;
    border-radius: 10px;
    width: 100%!important;
    height: 20px;
    font-weight: 300;
    transform: translate(39%, 34%);
 
  }
      
  .btn-buscar-top {

    display: none;
    align-content: center;
    width: 20px!important;
    height: 22px;
    background: url(http://www.devmedia.com.br/imagens/2013/buscar_grey.png) no-repeat;
    cursor: pointer!important;
    border: none;
    transform: translateY(-50%);
    padding: 0;
    position: relative;
    top: -5px;
    left: 489px;
  }

header h1
{
    justify-content: flex-start;
     padding: 10px;
    
}
a{
    display: flex;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    margin: 0 12px;
}
nav
{
    display: none;

}

nav a 
{
    display: flex;
    text-decoration: none;
    color: #f1f1f1;
    justify-content: space-between;
    font-size: 15px;
    padding: 5%;
    
   
}

a:hover
{
    border-radius: 10px;
    background: #9155F2;
   
}

#botao-hamburguer{


        display: block;
        background-color: transparent;
        font-size: 24px;
        border: 0;
        color: #FFF;
}

#banner{

    width: 100%;
}

#banner img
{
    width: 500px;
    height: 200px;
    margin: 0;
    border: 0;
    
}

.logo{
    
    border-radius: 10px;
}

.bem{
   
    text-align: center;
    color: #9155F2;
    font-size: 15px;
    
    
}


#intro{
    
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 4% 4%;
    text-align: left;
}

.promo{

    display: flex;
    justify-content: center;
    width: 100%;

}

.promo img{

width: 359px;
height: 39px;
border-radius: 10px;
}

#pet{


    padding: 1% 4%;
    text-align: center;
    color: #7024ea;
    font-size: 20;
}

#pet h2{

    text-align: center;
    padding: 2% 1%;
    background-color: #e1e1e1;
    border-radius: 10px;
}

.container{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 2% 1%;
}

.card{

    width: 200px;
    height: 200px;
    border-radius: 400px;
    border: 1px #7324F3 solid;
    outline:#7324F3 ;

}

.cli{

    display: flex;
    justify-content: center;
    color: #000000;
}

.cli:hover{

    color: #ff0000;
    border: 0;
    background: #fff;
}
.container-banner img{

    display: none;
    width: 500px;
    justify-content: space-between;
}

.container-banner 
    
    {
    
    display: flex;
    float: right;
    justify-content: space-between;
    
    }

#programacao
{
    background-color: #FFF;
    color: #c300ff;
    text-align: center;
    font-size: 20px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    border: 0;
    
}

footer{

    width: 100%;
    background:  #5E17EB;
    color: #FFF;
    margin: 0;
    padding: 0.5% 0;
    text-align: center;
    margin: 0;
    size: 10px;
    font-size: 10px;
}

@media (min-width: 1280px)
{

     nav{
        
        color: #f1f1f1;
        display: flex;
        flex-direction: row;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
    }

    #botao-hamburguer
    {
        display: none;
    }

    #banner img {

        width: 100%;
        height: 100%;
    }

 
        

    .container
    {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
    }
    

    .card{

        width: 200px;
        height: 200px;
        border-radius: 400px;
        border: 1px #7324F3 solid;
        outline:#7324F3 ;
        justify-content: space-around;
    
    }

    .container-banner img{

        display: block;
        width: 500px;
        justify-content: space-between;
    }
    
    .container-banner 
        
        {
        
        display: flex;
        float: right;
        justify-content: space-between;
        
        }
    


        #promo{

            display: flex;
            justify-content: center;
            
            margin: 25px;
            border-radius: 10px;
            padding: 5% 5%;
        }


        #promo img{

            border-radius: 10px;
            
        }

       .mp{

        display: flex;
        justify-content: center;
        color: #000000;
        font-size: 13px;
        }

        .mp:hover{

        color: #ff0000;
        border: 0;
        background:#ffffff;
        }

        .mais h2{


            margin: 0;
            padding: 4% 3%;
        }

       
        .procurado{

            display: block;
            background-color:#9155F2;
            width: 20%;
            padding: 2% 1%;
            text-align: center;
            border-radius: 10px;
            justify-content: space-between;
            margin: 25px;
        }

       


        .btn-text-top {
            display: block;
         
          }
              
          .btn-buscar-top {
        
            display: block;
           
          }
}



















